{% extends "layout.html" %}
{% block styleFiles %}
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>تجارت الکترونیک :: صفحه محصول</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="جست و جو برای...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">برو!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>طراحی صفحه تجارت الکترونیک</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">تنظیمات 1</a>
                                    </li>
                                    <li><a href="#">تنظیمات 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="product-image">
                                <img src="../build/images/prod-1.jpg" alt="..."/>
                            </div>
                            <div class="product_gallery">
                                <a>
                                    <img src="../build/images/prod-2.jpg" alt="..."/>
                                </a>
                                <a>
                                    <img src="../build/images/prod-3.jpg" alt="..."/>
                                </a>
                                <a>
                                    <img src="../build/images/prod-4.jpg" alt="..."/>
                                </a>
                                <a>
                                    <img src="../build/images/prod-5.jpg" alt="..."/>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                            <h3 class="prod_title">بررسی کفش بوت مردانه مسافرتی</h3>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                                زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با
                                نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
                                در زبان فارسی ایجاد کرد.</p>
                            <br/>

                            <div class="">
                                <h2>رنگ های موجود</h2>
                                <ul class="list-inline prod_color">
                                    <li>
                                        <p>سبز</p>
                                        <div class="color bg-green"></div>
                                    </li>
                                    <li>
                                        <p>آبی</p>
                                        <div class="color bg-blue"></div>
                                    </li>
                                    <li>
                                        <p>قرمز</p>
                                        <div class="color bg-red"></div>
                                    </li>
                                    <li>
                                        <p>نارنجی</p>
                                        <div class="color bg-orange"></div>
                                    </li>

                                </ul>
                            </div>
                            <br/>

                            <div class="">
                                <h2>اندازه
                                    <small>لطفا یکی را انتخاب نمایید</small>
                                </h2>
                                <ul class="list-inline prod_size">
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">کوچک</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">متوسط</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">بزرگ</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">خیلی بزرگ</button>
                                    </li>
                                </ul>
                            </div>
                            <br/>

                            <div class="">
                                <div class="product_price">
                                    <h1 class="price">800,000 ریال</h1>
                                    <span class="price-tax">به همراه مالیات: 880,000 ریال</span>
                                    <br>
                                </div>
                            </div>

                            <div class="">
                                <button type="button" class="btn btn-default btn-lg">افزود به کارت</button>
                                <button type="button" class="btn btn-default btn-lg">افزودن به لیست دلخواه</button>
                            </div>

                            <div class="product_social">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-envelope-square"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-rss-square"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <div class="col-md-12">

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                              role="tab" data-toggle="tab"
                                                                              aria-expanded="true">خانه</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab"
                                                                        id="profile-tab" data-toggle="tab"
                                                                        aria-expanded="false">پروفایل</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content3" role="tab"
                                                                        id="profile-tab2" data-toggle="tab"
                                                                        aria-expanded="false">پروفایل</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                         aria-labelledby="home-tab">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                         aria-labelledby="profile-tab">
                                        <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و
                                            شرایط
                                            سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و
                                            جوابگوی
                                            سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم
                                            ایپسوم
                                            متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                            است.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3"
                                         aria-labelledby="profile-tab">
                                        <p>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                            شرایط
                                            فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                            باشد.
                                            در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و
                                            شرایط
                                            سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و
                                            جوابگوی
                                            سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
{% endblock %}
{% block scripts %}
{% endblock %}