{% extends "layout.html" %}
{% block fix_menu %}
menu_fixed
{% endblock %}
{% block styleFiles %}
<!-- jQuery custom content scroller -->
<link href="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_right" style="width: 100%">
                <h3>نوار کناری ثابت
                    <small> فقط کافیست کلاس  <code dir="ltr">.menu_fixed</code> را به تک دارای کلاس <code dir="ltr">.left_col</code> اضافه نمایید.</small>
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
<!-- jQuery custom content scroller -->
<script src="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock %}
{% block scripts %}
{% endblock %}