{% extends "layout.html" %}
{% block fix_footer %}
footer_fixed
{% endblock %}
{% block styleFiles %}
<!-- jQuery custom content scroller -->
<link href="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_right">
                <h3>پاورقی ثابت
                    <small> فقط کافیه کلاس <code dir="ltr">.footer_fixed</code> را به تک <code>body</code> اضافه نمایید.</small>
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
<!-- jQuery custom content scroller -->
<script src="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock %}
{% block scripts %}
{% endblock %}