{% extends "layout.html" %}
{% block styleFiles %}
<!-- bootstrap-wysiwyg -->
<link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>طرح صندوق ورودی
                    <small>بعضی از نمونه‌ها برای شروع کار شما</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="جست و جو برای...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">برو!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>طرح صندوق ورودی
                            <small>ایمیل کاربر</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">تنظیمات 1</a>
                                    </li>
                                    <li><a href="#">تنظیمات 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-3 mail_list_column">
                                <button id="compose" class="btn btn-sm btn-success btn-block" type="button">ساختن
                                </button>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                        </div>
                                        <div class="left">
                                            <h3>دنیس موگو
                                                <small>3:00 بعد از ظهر</small>
                                            </h3>
                                            <p>تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list active">
                                        <div class="right">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="left">
                                            <h3>جین نوبرت
                                                <small>4:09 بعد از ظهر</small>
                                            </h3>
                                            <p><span class="badge">To</span> تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات
                                                ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            <i class="fa fa-circle-o"></i><i class="fa fa-paperclip"></i>
                                        </div>
                                        <div class="left">
                                            <h3>مسیمبی آن
                                                <small>4:09 بعد از ظهر</small>
                                            </h3>
                                            <p><span class="badge">CC</span> تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات
                                                ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                        <div class="left">
                                            <h3>جان دبیس
                                                <small>4:09 بعد از ظهر</small>
                                            </h3>
                                            <p>تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            .
                                        </div>
                                        <div class="left">
                                            <h3>دبیس و ریموند
                                                <small>4:09 بعد از ظهر</small>
                                            </h3>
                                            <p>تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            .
                                        </div>
                                        <div class="left">
                                            <h3>دبیس و ریموند
                                                <small>4:09 بعد از ظهر</small>
                                            </h3>
                                            <p>تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                        </div>
                                        <div class="left">
                                            <h3>دنیس موگو
                                                <small>3:00 بعد از ظهر</small>
                                            </h3>
                                            <p>تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="mail_list">
                                        <div class="right">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="left">
                                            <h3>جین نوبرت
                                                <small>4:09 بعد از ظهر</small>
                                            </h3>
                                            <p>تمرکز بیشتر بر روی تمرینات ورزشی، تمرینات ذهنی و ...</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /MAIL LIST -->

                            <!-- CONTENT MAIL -->
                            <div class="col-sm-9 mail_view">
                                <div class="inbox-body">
                                    <div class="mail_heading row">
                                        <div class="col-md-8">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-primary" type="button"><i
                                                        class="fa fa-reply"></i> پاسخ
                                                </button>
                                                <button class="btn btn-sm btn-default" type="button"
                                                        data-placement="top" data-toggle="tooltip"
                                                        data-original-title="به جلو"><i class="fa fa-share"></i>
                                                </button>
                                                <button class="btn btn-sm btn-default" type="button"
                                                        data-placement="top" data-toggle="tooltip"
                                                        data-original-title="چاپ"><i class="fa fa-print"></i></button>
                                                <button class="btn btn-sm btn-default" type="button"
                                                        data-placement="top" data-toggle="tooltip"
                                                        data-original-title="سطل آشغال"><i class="fa fa-trash-o"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-left">
                                            <p class="date"> 8:02 بعد از ظهر ۱۴ خرداد ۱۳۹۶</p>
                                        </div>
                                        <div class="col-md-12">
                                            <h4> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است چاپگرها.</h4>
                                        </div>
                                    </div>
                                    <div class="sender-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>مرتضی کریمی</strong>
                                                <span>(me@morteza-karimi.ir)</span> به
                                                <strong>من</strong>
                                                <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="view-mail">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                            ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده
                                            شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                                            برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                                            ایجاد کرد.</p>
                                        <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
                                            متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
                                            علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. لورم ایپسوم
                                            متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                            است. </p>
                                        <p>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                            کاربردی می باشد. در این صورت می توان امید داشت که تمام و دشواری موجود در
                                            ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی
                                            دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
                                            استفاده قرار گیرد. </p>
                                    </div>
                                    <div class="attachment">
                                        <p>
                                            <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
                                            <a href="#">دانلود تمام ضمیمه‌ها</a> |
                                            <a href="#">مشاهده همه تصاویر</a>
                                        </p>
                                        <ul>
                                            <li>
                                                <a href="#" class="atch-thumb">
                                                    <img src="../build/images/inbox.png" alt="img"/>
                                                </a>

                                                <div class="file-name">
                                                    image-name.jpg
                                                </div>
                                                <span>12KB</span>


                                                <div class="links">
                                                    <a href="#">مشاهده</a> -
                                                    <a href="#">دانلود</a>
                                                </div>
                                            </li>

                                            <li>
                                                <a href="#" class="atch-thumb">
                                                    <img src="../build/images/inbox.png" alt="img"/>
                                                </a>

                                                <div class="file-name">
                                                    img_name.jpg
                                                </div>
                                                <span>40KB</span>

                                                <div class="links">
                                                    <a href="#">مشاهده</a> -
                                                    <a href="#">دانلود</a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#" class="atch-thumb">
                                                    <img src="../build/images/inbox.png" alt="img"/>
                                                </a>

                                                <div class="file-name">
                                                    img_name.jpg
                                                </div>
                                                <span>30KB</span>

                                                <div class="links">
                                                    <a href="#">مشاهده</a> -
                                                    <a href="#">دانلود</a>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-primary" type="button"><i
                                                    class="fa fa-reply"></i> پاسخ
                                            </button>
                                            <button class="btn btn-sm btn-default" type="button"
                                                    data-placement="top" data-toggle="tooltip"
                                                    data-original-title="به جلو"><i class="fa fa-share"></i>
                                            </button>
                                            <button class="btn btn-sm btn-default" type="button"
                                                    data-placement="top" data-toggle="tooltip"
                                                    data-original-title="چاپ"><i class="fa fa-print"></i></button>
                                            <button class="btn btn-sm btn-default" type="button"
                                                    data-placement="top" data-toggle="tooltip"
                                                    data-original-title="سطل آشغال"><i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /CONTENT MAIL -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- compose -->
<div class="compose col-md-6 col-xs-12">
    <div class="compose-header">
        پیام جدید
        <button type="button" class="close compose-close">
            <span>×</span>
        </button>
    </div>

    <div class="compose-body">
        <div id="alerts"></div>

        <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
            </div>

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                        class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a data-edit="fontSize 5">
                            <p style="font-size:17px">بزرگ</p>
                        </a>
                    </li>
                    <li>
                        <a data-edit="fontSize 3">
                            <p style="font-size:14px">متوسط</p>
                        </a>
                    </li>
                    <li>
                        <a data-edit="fontSize 1">
                            <p style="font-size:11px">کوچک</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" data-edit="insertunorderedlist" title="لیست نقطه‌ای"><i class="fa fa-list-ul"></i></a>
                <a class="btn" data-edit="insertorderedlist" title="لیست عددی"><i class="fa fa-list-ol"></i></a>
                <a class="btn" data-edit="outdent" title="کاهش دندانه (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                <a class="btn" data-edit="indent" title="دندانه (Tab)"><i class="fa fa-indent"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" data-edit="justifyleft" title="چپ چین (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                <a class="btn" data-edit="justifycenter" title="وسط چین (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                <a class="btn" data-edit="justifyright" title="راست چین (Ctrl/Cmd+R)"><i
                        class="fa fa-align-right"></i></a>
                <a class="btn" data-edit="justifyfull" title="جاستیفای (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="لینک عظیم"><i class="fa fa-link"></i></a>
                <div class="dropdown-menu input-append">
                    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                    <button class="btn" type="button">افزودن</button>
                </div>
                <a class="btn" data-edit="unlink" title="حذف لینک عظیم"><i class="fa fa-cut"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" title="افزودن تصویر (ویا فقط بکشید و رها کنید)" id="pictureBtn"><i
                        class="fa fa-picture-o"></i></a>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage"/>
            </div>

            <div class="btn-group">
                <a class="btn" data-edit="undo" title="لغو عمل قبلی (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                <a class="btn" data-edit="redo" title="بازگردانی عمل لغو شده (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
            </div>
        </div>

        <div id="editor" class="editor-wrapper"></div>
    </div>

    <div class="compose-footer">
        <button id="send" class="btn btn-sm btn-success" type="button">ارسال</button>
    </div>
</div>
<!-- /compose -->
{% endblock %}
{% block scriptsFiles %}
<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
{% endblock %}
{% block scripts %}
{% endblock %}