{% extends "layout.html" %}
{% block styleFiles %}
{% endblock %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>منو چند لایه <small> این صفحه نشان دهنده منو چند لایه است.</small></h3>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
{% endblock %}
{% block scripts %}
{% endblock %}
