{% extends "layout.html" %}
{% block styleFiles %}
{% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>جزئیات پروژه
                    <small> طراحی</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="جست و جو برای...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">برو!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>مشاوره قراردادهای شریک جدید</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">تنظیمات 1</a>
                                    </li>
                                    <li><a href="#">تنظیمات 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <ul class="stats-overview">
                                <li>
                                    <span class="name"> بودجه تخمینی </span>
                                    <span class="value text-success"> 2300 </span>
                                </li>
                                <li>
                                    <span class="name"> مجموع پرداخت ها </span>
                                    <span class="value text-success"> 2000 </span>
                                </li>
                                <li class="hidden-phone">
                                    <span class="name"> تخمین مدت پروژه </span>
                                    <span class="value text-success"> 20 </span>
                                </li>
                            </ul>
                            <br/>

                            <div id="mainb" style="height:350px;"></div>

                            <div>

                                <h4>فعالیت اخیر</h4>

                                <!-- end of user messages -->
                                <ul class="messages">
                                    <li>
                                        <img src="../build/images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">۳</h3>
                                            <p class="month">خرداد</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">دزموند دیویسون</h4>
                                            <blockquote class="message">کتابهای زیادی در شصت و سه درصد گذشته، حال و
                                                آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                                                بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                                                زبان فارسی ایجاد کرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            </blockquote>
                                            <br/>
                                            <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true"
                                                              data-icon=""></span>
                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc
                                                </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../build/images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-error">۳۱</h3>
                                            <p class="month">اردیبهشت</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">برایان مایکلز</h4>
                                            <blockquote class="message">در این صورت می توان امید داشت که تمام و دشواری
                                                موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز
                                                شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود
                                                طراحی اساسا مورد استفاده قرار گیرد.
                                            </blockquote>
                                            <br/>
                                            <p class="url">
                                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                <a href="#" data-original-title="">دانلود</a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../build/images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">۳</h3>
                                            <p class="month">خرداد</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">دزموند دیویسون</h4>
                                            <blockquote class="message">کتابهای زیادی در شصت و سه درصد گذشته، حال و
                                                آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                                                بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                                                زبان فارسی ایجاد کرد.
                                            </blockquote>
                                            <br/>
                                            <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true"
                                                              data-icon=""></span>
                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance
                                                    Test.doc </a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end of user messages -->


                            </div>


                        </div>

                        <!-- start project-detail sidebar -->
                        <div class="col-md-3 col-sm-3 col-xs-12">

                            <section class="panel">

                                <div class="x_title">
                                    <h2>توضیحات پروژه</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <h3 class="green"><i class="fa fa-paint-brush"></i> قالب مدیریت</h3>

                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد.</p>
                                    <br/>

                                    <div class="project_detail">

                                        <p class="title">شرکت مشتری</p>
                                        <p>شرکت مجازی</p>
                                        <p class="title">رهبر پروژه</p>
                                        <p>مرتضی کریمی</p>
                                    </div>

                                    <br/>
                                    <h5>فایل های پروژه</h5>
                                    <ul class="list-unstyled project_files">
                                        <li><a href=""><i class="fa fa-file-word-o"></i>
                                            Functional-requirements.docx</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                        </li>
                                    </ul>
                                    <br/>

                                    <div class="text-center mtop20">
                                        <a href="#" class="btn btn-sm btn-primary">افزودن فایل‌ها</a>
                                        <a href="#" class="btn btn-sm btn-warning">گزارش تماس</a>
                                    </div>
                                </div>

                            </section>

                        </div>
                        <!-- end project-detail sidebar -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
<!-- ECharts -->
<script src="../vendors/echarts/dist/echarts.min.js"></script>
{% endblock %}
{% block scripts %}
{% endblock %}